        .container_seat {
            display: block;
            position: relative;
            padding-left: 5px;
            margin-bottom: 8px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .container_seat input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #cccccc;
        }
        
        .container_seat:hover input~.checkmark {
            background-color: #8c8c8c;
        }
        
        .container_seat input:checked~.checkmark {
            background-color: #2196F3;
        }
        
        .container_seat input:checkbox[disabled] {
            outline: 2px solid red;
            background: red!important;
        }
        
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        .container_seat input:checked~.checkmark:after {
            display: block;
        }
        
        .container_seat .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .card-body td {
            margin: 10px;
            padding: 8px;
        }
        
        .card-header label input {
            background-color: #f7f7f7;
            border: none;
        }
        
        .container {
            padding-top: 20px;
            padding-bottom: 20px;
        }