        .container ul {
            list-style-type: none;
        }
        /* .squaredOne {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.squaredOne label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}

.squaredOne label:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #27ae60;
    background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.squaredOne label:hover::after {
    opacity: 0.3;
}

.squaredOne input[type="checkbox"] {
    visibility: hidden;
}

.squaredOne input[type="checkbox"]:checked+label:after {
    opacity: 1;
} */
        
        .container_seat {
            display: block;
            position: relative;
            padding-left: 5px;
            margin-bottom: 8px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .container_seat input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }
        
        .container_seat:hover input~.checkmark {
            background-color: #ccc;
        }
        
        .container_seat input:checked~.checkmark {
            background-color: #2196F3;
        }
        
        .container_seat input:checkbox[disabled] {
            outline: 2px solid red;
            background: red!important;
        }
        
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        .container_seat input:checked~.checkmark:after {
            display: block;
        }
        
        .container_seat .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .card-body td {
            margin: 10px;
            padding: 8px;
        }