@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

.banner {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: #111;
}

.breadcrumb {
    margin: 30px 0;
    padding: 0;
    background-color: white;
}

.breadcrumb h4 a {
    font-family: Oswald !important;
    line-height: 1.5em;
    color: #337ab7;
}


/*.seat-form ul {
      margin: 0;
      padding: 0;
  }
  */

.seat-form ul li {
    list-style-type: none;
    display: inline;
    font-size: 14px;
    margin-right: 20px;
}

.seat-form ul li img {
    width: 35px;
    height: 35px;
}

.screen img {
    max-width: 100%;
    height: auto;
}

.fullwidth {
    text-align: center;
    font-family: SFProText;
    font-weight: 600;
}

.seat-cell {
    width: 40px;
    /* float: left; */
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 11px;
}

.seat-for-way {
    color: white;
    display: none;
}

.seat-normal {
    width: 40px;
    height: 40px;
    background-image: url('../images/seat-unselect-normal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seat-vip {
    width: 40px;
    height: 40px;
    background-image: url('../images/seat-unselect-vip.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seat-double {
    width: 80px;
    height: 40px;
    margin: 5px 10px;
    background-image: url('../images/seat-unselect-double.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clearfix {
    height: 10px;
    width: 100%;
    background-color: #9b9b9b;
    margin: 30px 0;
}

#dou {
    width: 60px;
    height: 30px;
}

#sumbill {
    text-align: right;
}

.body,
.footer {
    float: left;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer span {
    display: inline;
}

.card-body a {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
}

.card-body ul li {
    color: #333333;
}

.card-body ul li i {
    width: 50%;
}

.card-body ul li span {
    font-weight: 600;
    width: 50%;
}