@media (min-width: 1400px) {
    .container {
      max-width: 1300px;
    }
  }
  .row {
    margin: 0 !important;
  }
  
  .detail {
    font-size: 14px;
  }
  
  .detail ul {
    list-style: none;
    padding: 0!important;
  }
  
  .detail ul li {
    display: inline;
    color: #1a1919;
  }
  
  .description {
    color: #888;
  }
  
  .description {
    text-align: justify;
  }
  
  .detail hr {
    width: 100%;
    color: #cccccc;
    size: 1px;
  }
  
  .detail img {
    max-width: 100%;
    height: auto;
  }
  
  .titlePage {
    text-align: center;
    font-family: 'OpenSans';
    padding-bottom: 40px;
  }
  
  .titlePage h3 {
    text-transform: uppercase;
  }
  
  .nameMovie {
      font-style: inherit;
      font-size: 22px;
      margin: 0;
      color: #1a1919;
  }
  
  .btn {
    text-transform: uppercase;
  }
  
  .btn-buy {
      background: #e71a0f;
      border-radius: 30px;
      padding: 10px 40px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid #fff;
      margin: 0px 20px 10px 0px;
  }
  
  .btn-watch {
      background: #fff;
      border-radius: 30px;
      padding: 9px 40px;
      color: #e71a0f;
      font-size: 14px;
      border: 1px solid #e71a0f;
      margin: 0px 20px 10px 0px;
  }
  
  .movie-schedule {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .title {
    text-align: center !important;
    font-family: 'OpenSans';
    color: #fff;
    background-color: #e71a0f;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
  }
  
  .title a {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    color: #fff;
    text-decoration: none;
  }
  
  .date {
    padding: 20px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid red;
    border-radius: 0px 0px 20px 20px;
  }
  
  .time-item {
    display: inline-block;
    border: 1px solid red;
    cursor: pointer;
    padding: 0px 10px;
    margin: 5px 0px;
    margin-right: 10px;
    min-width: 65px;
    text-align: center;
    border-radius: 3px;
    transition-duration: 0.3s;
  }
  
  .time-item:hover, .selected {
      background-color: red;
      font-weight: 400;
      color: white;
  }
  