body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.header {
	display: flex;
	align-items: center;
}
.header .logo {
	font-size: 30px;
	flex-grow: 1;
	padding: 0 30px;
}
.header .right{
	padding: 0 30px;
}
.header .right .login  {
	display: flex;
}
.header .right .login > div   {
	
	padding:10px 10px;
}
.header .right .login > div > a  {	
	text-decoration: none;
	color: #B1B1B1;
}
.header .right .sdt {
		padding:10px 10px;
		color: red;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {
  background-color: red;
}

ul.topnav li.right {
  float: right;
}



/* @import "compass/css3"; */

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Colors */

/* $dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%; */

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body {
  font-family: Raleway, sans-serif;  
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


